.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text inside the elements */
    min-height: 80vh;
}

.startButton,
.playAgainButton {
    margin: 16px auto; /* Center buttons horizontally */
    padding: 8px 16px;
    font-size: 16px;
    color: #70878f;
    background-color: #1F2B30;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    text-align: center; /* Ensure text inside the button is centered */
}

.startButton:hover,
.playAgainButton:hover {
    background-color: #2e3f46;
}

.gameOverText,
.scoreText {
    text-align: center; /* Center text horizontally */
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #29353C;
    margin-bottom: 10px;
}

.winScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #4D6269;
    font-size: 48px;
    font-weight: bold;
    text-align: center; /* Center text inside this block */
}

.topScores {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.topScores h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.topScores ul {
    list-style-type: none;
    padding: 0;
}

.topScores li {
    font-size: 16px;
    margin-bottom: 5px;
}
